#navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#input>input {
    padding: 10px;
}

#link>p {
    display: inline;
}

#link>p:first-child {
    margin-right: 10px;
}


#appendData {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foodcard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    margin: 20px;
}

.foodcard>img {
    width: 50%;
}