body{
    background-color:ghostwhite;
}

h1{
text-align: center;
}

input{
    display: block;
    margin: auto;
    padding: 10px;
}
button{
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    cursor: pointer;
}


/* display Part*/

#movies {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: auto;
     gap: 20px;
     margin-top: 50px;
     margin-bottom: 50px;
 }

.poster {
     text-align: center;
     cursor: pointer;
     border-bottom: 10px;
 }

.poster:hover {
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }

.poster:hover {
     transition: 2s;
     background-color: aqua;
 }

.poster>img {
     width: 100%;
 }

 #notFound{
text-align: center;
 }

#notFoundImg{
    display: block;
    margin: auto;
}

select{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

